<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.carhouse.web">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <provider
            android:name=".provider.InitProvider"
            android:authorities="${applicationId}.WebProvider"
            android:exported="false"
            android:multiprocess="true" />

        <activity
            android:name=".WebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/DefaultTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
    </application>
</manifest>
